PORT=5000
NODE_ENV=development
JWT_SECRET=
JWT_EXPIRES_IN=8h
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
LMS_API_BASE_URL=
LMS_API_KEY=
CRM_PARIVARTAN_BASE_URL=
CRM_ABIS_PRO_BASE_URL=
CRM_TRADERS_BASE_URL=
CRM_CHICKS_BASE_URL=
CRM_DOCTOR_BASE_URL=
MYIB_BASE_URL=
MYIB_API_KEY=
IBREMS_API_BASE_URL=
IBREMS_API_KEY=
